*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: monospace;
}

body{
    width: 100%;
    height: 100%;
    background-color: orange;
    margin: auto;
}

div#header{
    width: 90%;
    font-size: 2em;
    font-weight: bold;
    color:whitesmoke;
    min-height: 350px;
    border: 1px solid #444;
    margin-left: 1.5em;
    margin-top: 10em;
}

div#two{
    /* float: right; */
}

p{
    padding-left: 10px;
    padding-bottom: 20px;

}

p#down{
    padding-left: 10px;
        padding-bottom: 20px;
        color: black;
}
img#git{
    width: 20%;
    filter: invert(100%) sepia(5%) saturate(2%) hue-rotate(113deg) brightness(111%) contrast(100%);;
}

img#down {
    width: 20%;
    filter: invert(0%) sepia(6%) saturate(7476%) hue-rotate(344deg) brightness(105%) contrast(105%);
}

img#form{
    width: 20%;
    filter: invert(100%) sepia(5%) saturate(2%) hue-rotate(113deg) brightness(111%) contrast(100%);;
    display: inline;
    flex: left;
}
div img#arc{
    width: 20%;
    filter: invert(100%) sepia(5%) saturate(2%) hue-rotate(113deg) brightness(111%)contrast(100%);;
}

div.one{
    width: 100%;
    padding-right: 300px;
    margin-right: 300px;
    background-color: red;
}
div.two{
    width: 100%;
    padding-right: 300px;
    margin-right: 300px;
    background-color:blue;
}
div.three{
    width: 100%;
    padding-right: 300px;
    margin-right: 300px;
    background-color: green;
}

